<div class="footer">
 <div class="d-flex flex-column flex-sm-row justify-content-between align-items-center py-5 py-sm-0">
  <div class="box1">
    <img src="../../../assets/img/iconos-logos/mest.svg" alt="MEST">
  </div>
  <div class="box2">
    <button>
      <img routerLink="/mint" src="../../../assets/img/iconos-logos/mest-logo-play.svg" alt="Mest">
      Mest
    </button>
  </div>
  <div class="box3 d-flex justify-content-between align-items-center">
    <a href="https://twitter.com/MestMeta" target="_blank" rel="noopener noreferrer"><img src="../../../assets/img/iconos-logos/twt.svg" alt="Twitter"></a>
    <a href="https://twitter.com/MestMeta" target="_blank" rel="noopener noreferrer"><img src="../../../assets/img/iconos-logos/in.svg" alt="Linkedin"></a>
    <a href="https://www.instagram.com/mest.meta/" target="_blank" rel="noopener noreferrer"><img src="../../../assets/img/iconos-logos/ig.svg" alt="Instagram"></a>
    <a href="https://www.facebook.com/Mest-100705786042232/" target="_blank" rel="noopener noreferrer"><img class="icon-white" src="../../../assets/img/iconos-logos/fb.png" alt="Facebook"></a>
    <a href="https://www.tiktok.com/@mestmeta" target="_blank" rel="noopener noreferrer"><img src="../../../assets/img/iconos-logos/tiktok.svg" alt="Tik Tok"></a>
    <a href="https://www.youtube.com/channel/UCsCYMY0aZmtZ70rQiD2Dxtw" target="_blank" rel="noopener noreferrer"><img  class="icon-white" src="../../../assets/img/iconos-logos/yt.png" alt="Youtube"></a>
    <a href="https://discord.gg/pxUN4mQB" target="_blank" rel="noopener noreferrer"><img src="../../../assets/img/iconos-logos/discord.svg" alt="Discord"></a>


  </div>
 </div>
</div>
