<div class="swiper cards-carousel">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper ">
    <!-- Slides -->
    <div class="swiper-slide">
      <div class="card">
        <app-cards card="1"></app-cards>
        <div class="info position-relative d-flex flex-column align-items-center">
          <div>
            <img class="borde1-img1" src="../../../../assets/img/border-figura.png" alt="">
            <img class="borde1-img2" src="../../../../assets/img/border-figura.png" alt="">
            <p class="text-center p1">{{'card.1' | translate}}</p>
          </div>
          <button class="btn" routerLink="/mint">MINT</button>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="card">
        <app-cards card="2"></app-cards>
        <div class="info position-relative d-flex flex-column align-items-center">
          <div>
            <img class="borde2-img1" src="../../../../assets/img/border-figura.png" alt="">
            <img class="borde2-img2" src="../../../../assets/img/border-figura.png" alt="">
            <p class="text-center p1">{{'card.2' | translate}}</p>

          </div>
          <button class="btn" routerLink="/mint">MINT</button>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="card">
        <app-cards card="3"></app-cards>
        <div class="info position-relative d-flex flex-column align-items-center">
          <div>
            <img class="borde3-img1" src="../../../../assets/img/border-figura.png" alt="">
            <img class="borde3-img2" src="../../../../assets/img/border-figura.png" alt="">
            <p class="text-center p1">{{'card.3' | translate}}</p>

          </div>
          <button class="btn" routerLink="/mint">MINT</button>
        </div>
      </div>
    </div>
  </div>
  <!-- If we need scrollbar -->
  <div class="swiper-scrollbar"></div>
</div>
